html, body {
    background-color: #f2f3f4;
    font-family: 'Roboto Condensed', sans-serif;
    color: #c62828;
}

.link {
    color: #f44336;
    text-decoration: none;
}
.link:hover {
    color: #d32f2f;
}
.link:focus {
    color: #d32f2f;
}

p {
    font-size: 22px;
}

.nav-link {
    color: #f44336;
    transition-duration: 0.4s;
    text-decoration: none; /* no underline */
    border-radius: 8px;
}

.nav-link:link {
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: none;
    color: white;
    background-color: #f44336;
    border-radius: 8px;
    margin-left: 10px;
}

.project-image {
    padding: 7px;
    min-width: 200px;
    display: block;
    margin-bottom: 5px;
    border-radius: 20px;
    transition-duration: 0.4s;
}

.project-text-block {
    padding: 10px 30px 10px 10px;
}

.ProjectContainer {
    transition-duration: 0.4s;
    min-height: 550px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 30px;
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
    box-shadow: 0 5px 20px 0 #ebe5e7;
    margin-bottom: 50px;
}

.ProjectContainer:hover {
    background-color: #f44336;
    background-image: linear-gradient(to bottom left, #f44336, #e91e63);
    color: #ffffff;
}

.ProjectContainer:hover img {
    padding: 0;
    margin-bottom: 5px;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.ProjectContainer:hover a {
    transition-duration: 0.4s;
    color: #ffffff;
}

.ProjectContainer:hover a:hover {
    text-decoration: none;
}

.ProjectCategoryTitle {
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}
