$primary-color: #e91e62
$secondary-color: #ff9900
$link-color: #646464
$primary-light: #f48fb0


.ProjectContainer
  transition-duration: 0.4s
  background-color: #ffffff
  padding: 1px
  /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];
  box-shadow: 0 5px 20px 0 #ebe5e7

  .project-image
    width: 95%
    padding: 2px
    display: block
    margin-bottom: 5px
    border-radius: 10px
    transition-duration: 0.4s

  .project-text-block
    padding: 10px

  &:hover
    background-color: $primary-color
    background-image: linear-gradient(to bottom left, $primary-color, $secondary-color)
    color: #ffffff

    img
      padding: 0
      margin-bottom: 5px
      width: 100%
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15)

    a
      transition-duration: 0.4s
      color: #ffffff

      &:hover
        text-decoration: none

  .ProjectCategoryTitle
    font-size: 48px
    text-align: center
    margin-bottom: 50px


.vision_carousal
  .swiper-button-disabled
    color: $primary-light
  .swiper-button-next, .swiper-button-prev
    color: $primary-color
  .swiper-pagination-bullet
    background: #a0aec0
  .swiper-pagination-bullet-active
    background: $secondary-color
