--find-links https://download.pytorch.org/whl/torch_stable.html


jupyter==1.0.0
django==3.0.8
gunicorn==20.0.4
torch==1.7.1+cpu
torchvision==0.8.1
matplotlib==3.2.2
scikit-image==0.17.2
python-decouple==3.4
pandas==1.0.5
tensorflowjs==2.7.0
tensorboard==2.4.0
torchtext==0.8.0
# spacy==2.3.4
gym==0.18.0
fastapi==0.63.0
uvicorn==0.13.3

-e git+https://github.com/Akhilez/gyms.git/#egg=gym_nine_mens_morris&subdirectory=gym-nine-mens-morris
-e git+https://github.com/Akhilez/gyms.git/#egg=gym_tic_tac_toe&subdirectory=gym-tic-tac-toe
-e git+https://github.com/Akhilez/gyms.git/#egg=gym_grid_world&subdirectory=gym-grid-world
gym-sokoban==0.0.6
gym-minigrid==1.0.2

hydra-core==1.0.6
# optuna==2.3.0

sentence-transformers==0.4.1.2
albumentations==0.5.2

pettingzoo==1.8.1
pettingzoo[classic]
gym-super-mario-bros==7.3.2
gym-retro==0.8.0
griddly==1.0.0
wandb==0.10.24
moviepy==1.0.3
imageio