jupyter==1.0.0
django==3.0.8
gunicorn==20.0.4
torch==1.7.0  # pip install torch==1.5.0+cpu torchvision==0.6.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.8.1
matplotlib==3.2.2
# channels==2.4.0
# channels-redis==2.4.2
scikit-image==0.17.2
django-cors-headers==3.4.0
python-decouple==3.3
django-webpack-loader==0.7.0
pandas==1.0.5
tensorflowjs==2.7.0
tensorboard==2.4.0
torchtext==0.8.0
# spacy==2.3.4
djangorestframework==3.12.2
gym==0.18.0

-e git+https://github.com/Akhilez/gyms.git/#egg=gym_nine_mens_morris&subdirectory=gym-nine-mens-morris
