$primary-color: #dd0939
$link-color: #f44336


html
    background-color: #f2f3f4

.root
    a
        color: $link-color

/* Horizontal scroll menu */
.menu-item
.menu-item-wrapper.active
.menu-item.active
.menu-item :focus
.scroll-menu-arrow
/* Ends Horizontal scroll menu */