
.icon {
    color: #d32f2f;
    font-size: 8px;
    margin-top: 7px;
}

a {
    text-decoration: none;
}

.breadcrumbLink{
    transition-duration: 0.4s;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
}

.breadcrumbLink:hover {
    transition-duration: 0.4s;
    background-image: linear-gradient(to bottom left, #ea1c0d, #e91e63);
    color: white;
    text-decoration: none;
}

.breadcrumbLink:hover a {
    transition-duration: 0.4s;
    text-decoration: none;
    color: white;
}

.breadcrumbContainer {
    padding: 0 25px
}
