
.breadcrumbIcon {
    color: #d32f2f;
    font-size: 8px;
    margin-top: 7px;
}

a {
    text-decoration: none;
}

.breadcrumbLink{
    transition-duration: 0.4s;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
}

.breadcrumbLink:hover {
    transition-duration: 0.4s;
    background-image: linear-gradient(to bottom left, #ea1c0d, #e91e63);
    color: white;
    text-decoration: none;
}

.breadcrumbLink:hover a {
    transition-duration: 0.4s;
    text-decoration: none;
    color: white;
}

.breadcrumbContainer {
    padding: 0 25px
}

.ActionButton {
    min-width: 100px;
    min-height: 50px;
    background-image: linear-gradient(to bottom left, #ea1c0d, #e91e63);
    transition-duration: 0.4s;
    border-radius: 8px;
    color: white;
    padding: 10px;
    box-shadow: none;
    border: 0;
    font-size: 16px;
    margin: 10px;
}

.ActionButton:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 17px;
}

.ActionButton:active {
    outline: none;
    background-color: transparent;
    background-image: linear-gradient(to bottom left, #d32f2f, #c2185b);
}

.ActionButton:focus {
    outline: none;
    background-image: linear-gradient(to bottom left, #d32f2f, #e91e63);
    color: lightgray;
}

.outlinedButtonLink {
    transition-duration: 0.4s;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ea1c0d;
    min-width: 100px;
    min-height: 50px;
    text-decoration: none;
    color: #ea1c0d;
    margin: 10px;
}
.outlinedButtonLink:hover {
    transition-duration: 0.4s;
    color: white;
    text-decoration: none;
    border: none;
    background-image: linear-gradient(to bottom left, #ea1c0d, #e91e63);
}
.outlinedButtonLink:active {
    outline: none;
    background-color: transparent;
    background-image: linear-gradient(to bottom left, #d32f2f, #c2185b);
}
.outlinedButtonLink:focus {
    text-decoration: none;
    color: #ea1c0d;
}
.outlinedButtonLink:focus:hover {
    text-decoration: none;
    color: white;
}

.OutlineButton {
    transition-duration: 0.4s;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ea1c0d;
    min-width: 100px;
    min-height: 50px;
    text-decoration: none;
    color: #ea1c0d;
    margin: 10px;
    background-color: transparent;
}

.OutlineButton:hover {
    transition-duration: 0.4s;
    color: white;
    text-decoration: none;
    border: none;
    background-image: linear-gradient(to bottom left, #ea1c0d, #e91e63);
}

.OutlineButton:active {
    outline: none;
    background-color: transparent;
    background-image: linear-gradient(to bottom left, #d32f2f, #c2185b);
}

.PassiveButton {
    transition-duration: 0.4s;
    padding: 10px;
    border-radius: 8px;
    border: 0px solid #ea1c0d;
    min-width: 100px;
    min-height: 50px;
    text-decoration: none;
    color: #ea1c0d;
    margin: 10px;
    background-color: transparent;
}

.PassiveButton:hover {
    transition-duration: 0.4s;
    color: white;
    text-decoration: none;
    border: none;
    background-image: linear-gradient(to bottom left, #ea1c0d, #e91e63);
}

.PassiveButton:active {
    outline: none;
    background-color: transparent;
    background-image: linear-gradient(to bottom left, #d32f2f, #c2185b);
    border: none;
}

.PassiveButton:focus {
    border: none;
    outline: none;
}

.inline {
    display: inline-block;
}

.rounded {
    border-radius: 8px;
}

.ProjectPaginatorBox {
    padding: 50px;
    font-size: 20px;
    border-radius: 20px;
    transition-duration: 0.4s;
}

.ProjectPaginatorBox:hover {
    transition-duration: 0.4s;
    background-color: transparent;
    background-image: linear-gradient(to bottom left, #d32f2f, #c2185b);
    color: white;
    border-radius: 20px;
}

.ProjectPaginatorBox:hover a {
    transition-duration: 0.4s;
    color: white;
}

.ProjectPaginatorBox a {
    font-size: 26px;
    text-decoration: none;
    color: #ea1c0d;
}

.navIcon {
    margin-top: -5px;
    margin-right: 3px;
}
